release/*
server/config/*
update.sh
upload.sh
upload-dev.sh
server-testing
server-testing-1.5.2
server/node_modules
server/AsieLauncher/zips/*
server/AsieLauncher/jarPatches/*.jar
server/AsieLauncher/internal/launcher/*
server/AsieLauncher/lib/*.jar
server/AsieLauncher/temp/*
server/*List.json
server/mods/*
.DS_Store
nbproject/
.gradle/
build.xml
build/
manifest.mf
