release/*
server/config/*
update.sh
upload.sh
server-testing
server/node_modules
server/AsieLauncher/zips/*
server/AsieLauncher/jarPatches/*.jar
server/AsieLauncher/internal/launcher/*
server/AsieLauncher/libs/*.jar
server/AsieLauncher/temp/*
server/mods/*
.DS_Store
